<form *ngIf="book" #form="ngForm" (ngSubmit)="saveBook()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      required
      minlength="6"
      [(ngModel)]="book.title"
      #title="ngModel"
    />
    <input
      type="number"
      id="numPages"
      name="numPages"
      required
      [(ngModel)]="book.numPages"
      #numPages="ngModel"
    />
    <div [hidden]="!numPages.errors?.required || numPages.pristine">
      Enter a numPages
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="title">email</label>
    <input
      type="email"
      id="email"
      name="email"
      pattern=".+@gmail.com"
      required
      ngModel
      #email="ngModel"
    />
    <div [hidden]="!email.errors?.required || email.pristine">
      Enter a email
    </div>
  </div> -->
  ...
  <div>
    <button type="submit" [disabled]="!form.valid">Save</button>
    <a class="btn btn-default btn-sm" [routerLink]="['..']">X</a>
  </div>
</form>
