<div class="panel panel-default" *ngIf="book">
  <!-- <pre>
      {{ book | json }}
  </pre> -->

  <div class="panel-heading">{{ book.title }} ({{ book.isbn }})</div>
  <div class="panel-body" [appOrderBtn]="book" foo="'Moin'">
    <p>
      {{ book.abstract }}
      <span class="badge">{{ book.numPages | pages: 'Seitenzahl' }}</span>
    </p>
    <p>{{ book.publisher.name }} ({{ book.publisher.url }})</p>
  </div>
  <div class="panel-footer">
    {{ book.author }} <a [routerLink]="['..']">Back</a>
    <a [routerLink]="['edit']" class="btn btn-default btn-sm">
      edit
    </a>
  </div>
</div>
